{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{#<a href="tel:{{ 'app.phone.life' }}">Life</a>#}

{% block body %}

    <div class="site-main-container">
        <header>
            <div class="headline-container">
                <hr>
                <h1 class="headline">Врезка в трубу водопровода под давлением</h1>
                <hr>
            </div>
            <div class="header-img-container">
                <img class="header-img" src="{{ asset('images/header.png') }}" alt="Врезка в трубу водопровода">
            </div>
            <div class="header-phone-numbers">
                <address>г. Днепр</address>
                <div>
                    <img class="telecom-operator-logo"
                         src="{{ asset('images/telecom-operators/lifecell.png') }}" alt="Лайф">
                    <a href="tel:+380636364260" title="Лайф">063 63 64 260</a>
                </div>
                <div>
                    <img class="telecom-operator-logo"
                         src="{{ asset('images/telecom-operators/kievstar.png') }}" alt="Киевстар">
                    <a href="tel:+380979728176" title="Киевстар">097 97 28 176</a>
                </div>
                <div>
                    <img class="telecom-operator-logo"
                         src="{{ asset('images/telecom-operators/vodafone.png') }}" alt="Водафон">
                    <a href="tel:+380509882256" title="Водафон">050 98 82 256</a>
                </div>
            </div>
        </header>

        <hr>

        <main>
            <section class="description-site">
                <p>Сделаем врезку в центральный водопровод под давлением, не перекрывая центральную трубу.
                    Выполняем врезки в железные и пластиковые трубы. Меняем старые врезки в частном секторе.
                    Также прокладываем новый водопровод или меняем старый.</p>
            </section>

            <section class="carousel">
                <img class="arrow-left" src="{{ asset('images/arrow.png') }}" alt="Стрелка влево">
                <img class="carousel-image" src="" alt="Врезка в трубу водопровода под давлением">
                <img class="arrow-right" src="{{ asset('images/arrow.png') }}" alt="Стрелка вправо">
            </section>

            <section>
                <div class="prices">
                    <span class="prices-headline">Цены</span>
                    <hr style="width: 30%">
                    <span>Врезка в трубу под давлением &#8960; 100 - 3000 грн</span>
                    <span>Врезка в трубу под давлением &#8960; 150 - 3000 грн</span>
                    <span>Врезка в трубу под давлением &#8960; 200 - 3500 грн</span>
                </div>
            </section>
            <hr>
        </main>
    </div>

    <footer>
        <address>г. Днепр и область</address>
        <div class="footer-phone-numbers">
            <div class="phone">
                <img src="{{ asset('images/telecom-operators/lifecell.png') }}" alt="Лайф" title="Лайф">
                <a href="tel:+380636364260" title="Лайф">063 63 64 260</a>
            </div>
            <div class="phone">
                <img src="{{ asset('images/telecom-operators/kievstar.png') }}" alt="Киевстар" title="Киевстар">
                <a href="tel:+380979728176" title="Киевстар">097 97 28 176</a>
            </div>
            <div class="phone">
                <img src="{{ asset('images/telecom-operators/vodafone.png') }}" alt="Водафон" title="Водафон">
                <a href="tel:+380509882256" title="Водафон">050 98 82 256</a>
            </div>
        </div>
        <span>Copyright &copy; 2022</span>
    </footer>

    <script src="{{ asset('js/get-photo-names.js') }}"></script>

{% endblock %}